{% extends "home/home.html"%}
{% block css%}
<style>
        .media{
            padding:3px;
            border:1px solid #ccc
        }

    </style>
{%endblock%}
{% block content%}
{% include "home/menu.html"%}
<div class="col-md-9">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;会员中心</h3>
            </div>
            <div class="panel-body">
                <form role="form">
                    <fieldset>
                            <div class="form-group">
                                <label for="input_oldpwd"><span class="glyphicon glyphicon-lock"></span>&nbsp;旧密码</label>
                                <input id="input_oldpwd" class="form-control" placeholder="旧密码" name="oldpwd" type="password" autofocus>
                            </div>
                            <div class="col-md-12" id="error_oldpwd"></div>
                            <div class="form-group">
                                <label for="input_newpwd"><span class="glyphicon glyphicon-lock"></span>&nbsp;新密码</label>
                                <input id="input_newpwd" class="form-control" placeholder="新密码" name="newpwd" type="password" autofocus>
                            </div>
                            <div class="col-md-12" id="error_newpwd"></div>
                            <a href="{{url_for('home.login')}}" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span>&nbsp;修改密码</a>
                        </fieldset>
                </form>
            </div>
        </div>
    </div>
{% block js %}
<script>
    $(document).ready(function () {
        $("#m-2").addClass("active");
    });
</script>
{% endblock %}
{% endblock%}
